body {
  margin: 0;
  padding: 0;
  background-color: #191919;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.3;
  padding-left: 0.33rem;
  color: white;
}

.main-header {
  margin: 0 auto;
  align-items: center;
  max-width: 1920px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.header_logo {
  display: flex;
  align-items: center;
}

.logo_img {
  width: 5%;
}

.hero-container {
  height: 37rem;
  background-image: url('/src/img/Rasputin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  margin: 0 auto;
}

.profile-search-container {
  padding: 1.5rem;
}

.profile-search-label {
  color: azure;
  font-size: 1.5rem;
}

.profile-search-input {
  height: 2rem;
  width: 22rem;
  margin: 0.5rem;
  background-color: #333333;
  color: azure;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.profile-search-button {
  font-family: 'Montserrat', sans-serif;
  background-color: azure;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.5rem;
  position: relative;
  bottom: 0.25rem;
}

.profile-search-results-char-select-container {
  display: flex;
}

.profile-search-results-container {
  width: 40%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-search-results-label {
  margin: 0;
  color: azure;
}

.profile-search-results {
  padding: 0;
  height: 20.188rem;
}

.profile-search-result {
  border: solid 1px;
  border-color: azure;
  background-color: #191919;
  margin-top: 10px;
  width: 23rem;
  list-style-type: none;
}

.profile-search-result-no-platform {
  border: solid 1px;
  border-color: rgb(155, 155, 155);
  background-color: #5a5a5a;
  margin-top: 10px;
  width: 23rem;
  list-style-type: none;
}

.profile-search-result-platform-img {
  height: 2rem;
  padding: 0.5rem;
  margin: auto 0;
}

.profile-search-result-platform-img-no-platform {
  font-size: 2rem;
  padding: 0.5rem;
  margin: auto 0;
  color: rgb(155, 155, 155);
}

.profile-name {
  color: azure;
  font-family: 'Azeret Mono', monospace;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
  padding-left: 1rem;
}

.profile-name-no-platform {
  color: rgb(155, 155, 155);
  font-family: 'Azeret Mono', monospace;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
  padding-left: 1rem;
  cursor: not-allowed;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 23rem;
}

.btn--inline {
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  color: azure;
  width: 6rem;
  height: 3rem;
}

.hidden {
  opacity: 0;
}

.hidden-btn {
  opacity: 0;
  pointer-events: none;
}

.character-select {
  width: 60%;
  padding: 1.5rem;
}

.char-selection-label {
  margin: 0;
  color: azure;
}

.character {
  width: 30rem;
  height: 6rem;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.char-class {
  color: azure;
  padding: 1rem;
}

.power-level {
  color: rgb(252, 219, 55);
  padding: 1rem;
}
